.bi{
    color: black;
    background-color: white;
}
img, svg {
margin-top: 10px;
margin-right: 35px;
}
.q2{
    text-decoration: none;
    
    
    background-color: brown;
}
.navbar-brand{
    font-size: 20px;
    font-weight: 600;
}
.nav-link {
    font-size: 20px;
    font-weight: 600;
    color: black;
}